.venv/
__pycache__/
*.pyc
rustbpe/target/
dev-ignore/
report.md
eval_bundle/
.idea/

# Secrets
.env

# Local setup
.claude
CLAUDE.md
wandb/

# Local experimentation
experiments/
ignore/
knowledge/
ideas/
